<mat-card-title>{{ data.pageTitle }}</mat-card-title>

<div class="flx-row flx-between-xs flx-middle-xs">
    <div class="flx-col-xs-6">
        <button 
            mat-raised-button 
            aria-label="Add doctor"
            (click)="openAddItemModal()">{{data.addItemBtn}}</button>
    </div>
    
    <div class="flx-col-xs-6 flx-end-xs">
        <mat-form-field appearance="standard">
            <mat-label>{{data.searchLabel}}</mat-label>
            <input matInput #search>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>    
    </div>
</div>

<section class="data-iterator mat-elevation-z2">
    <div class="data-iterator__table-container">
        <table class="data-iterator__table" mat-table [dataSource]="items" matSort>
            <ng-container [matColumnDef]="column.name" *ngFor="let column of data.tableColumns; let i = index" [sticky]="column.sticky">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="checkSortValues(column)" [disabled]="!column.sortable"> {{column.label}}</th>
                <td mat-cell *matCellDef="let row;">
                    <ng-container *ngIf="column.name === 'position';">
                        {{this.paginator.pageIndex * this.paginator.pageSize + items.indexOf(row) + 1}}
                    </ng-container>

                    <ng-container *ngIf="column.name !== 'position' && column.name !== 'actions'">
                        {{ this.helpersService.isObjectValue(row[column.name]) && column.subname ? row[column.name][column.subname] : row[column.name] }}
                    </ng-container>

                    <ng-container *ngIf="column.name === 'actions'">
                        <button 
                            mat-icon-button 
                            aria-label="View details" 
                            [routerLink]="[column.singleRouteUrl, row.id]">
                            <mat-icon>visibility</mat-icon>
                        </button>            
                        <!-- <button
                            mat-icon-button 
                            aria-label="Quick edit"
                            (click)="openQuickEditModal(row)">
                            <mat-icon>edit</mat-icon>
                        </button>             -->
                        <button
                            mat-icon-button 
                            aria-label="Delete"
                            (click)="deleteItem(row.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-container>
                </td>      
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
        </table>

        <!-- Creeaza componenta de loading -->
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <mat-progress-spinner mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
    </div>

    <mat-paginator 
        [disabled]="resultsLength <= 10"
        [length]="resultsLength"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page">
    </mat-paginator>
</section>

