<div class="flx-row flx-between-xs flx-middle-xs m-b-md">
    <div class="flx-col-md-6">
        <img class="profile-img" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" alt="Doctor name" title="Doctor name">
        <h2 class="profile-title">Doctor name (id: {{id}})</h2>
    </div>
    <div class="flx-col-md-6" align="end">
        <button mat-raised-button aria-label="Go Back" routerLink="/users/doctors">Back to Doctors</button>      
    </div>
</div>

<fieldset class="m-b-md">
    <legend>Contact</legend>
    <ul>
        <li><strong>phone</strong>: <span>+40 726 236 155</span></li>
        <li><strong>email</strong>: <span>asdad@asda.com</span></li>
        
    </ul>
</fieldset>
<fieldset class="m-b-md">
    <legend>Address</legend>
    <ul>
        <li><strong>country</strong>: <span>Romania</span></li>
        <li><strong>county</strong>: <span>Dolj</span></li>
        <li><strong>city</strong>: <span>Craiova</span></li>
        <li><strong>location number</strong>: <span>16</span></li>
        <li><strong>street</strong>: <span>Invierii</span></li>
        <li><strong>zipcode</strong>: <span>265314</span></li>
        
    </ul>
</fieldset>
<fieldset class="m-b-md">
    <legend>Professional background</legend>
    <ul>
        <li><strong>specializations</strong>: <span>cardiology, cardiac surgery</span></li>
    </ul>
</fieldset>
<fieldset>
    <legend>Investigations</legend>
    <ul>
        <li>Lorem ipsum dolor sit amet avec transit. <strong>Price: 200Ron</strong></li>
        <li>Lorem ipsum dolor sit amet avec transit. <strong>Price: 200Ron</strong></li>
        <li>Lorem ipsum dolor sit amet avec transit. <strong>Price: 200Ron</strong></li>
        <li>Lorem ipsum dolor sit amet avec transit. <strong>Price: 200Ron</strong></li>
        <li>Lorem ipsum dolor sit amet avec transit. <strong>Price: 200Ron</strong></li>
    </ul>
</fieldset>