.shame-spacer {
    flex: 1 1 auto;
}

.profile-img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 2px solid #3f51b5;
}

h2.profile-title {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 0;
    vertical-align: middle;
}

.data-iterator {
    &__table-container {
        overflow-y: auto;
        height: 536px;
        width: 100%;
        max-width: 100%;
    }

    &__table {
        overflow: auto;
        width: 100%;
        min-width: 940px;

        .mat-header-cell,
        .mat-cell {
            min-width: 50px;
            // max-width: 100px; // pt responsive
        }
    }
}

// start---nav-component
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.sidenav .sidenav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 72px);
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar.c-toolbar {
    z-index: 9999999 !important;
}
// end---nav-component
